@charset "UTF-8";
.custom-dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px; /* 화살표 위치 조정을 위해 패딩 추가 */
}

.custom-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 14px; /* 화살표 크기 */
    color: #000; /* 화살표 색상 */
}

/* 테이블 기본 스타일 */
.table {
	margin-bottom:0;
	width: 100%;
	border-collapse: collapse; /* 중복 테두리 제거 */
	text-align: center;
	font-size: 16px;
}

/* 각 셀에 세로 구분선 추가 */
.table th, .table td {
  border-right: 1px solid #333; /* 세로선 */
}

/* 마지막 열의 세로선 제거 */
.table th:last-child, .table td:last-child {
  border-right: none;
}

/* 테이블 외곽선 */
.table {
  border: 1px solid #ddd;
}

/* 헤더 스타일 */
.table thead tr {
  background-color: #f8f9fa; /* 헤더 배경색 */
}

/* 짝수행 배경색 */
.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* 마우스 오버 효과 */
.table tbody tr:hover {
  background-color: #f1f1f1;
}

.postCheck {
  width: 16px; /* 체크박스 크기 */
  height: 16px;
  vertical-align: middle; /* 수직 중앙 정렬 */
}

td, th {
  vertical-align: middle; /* 테이블 셀 수직 중앙 정렬 */
}

.badge {
    font-size: 7px !important;/* 글자 크기 직접 축소 */	
    padding: 0; /* 여백 최소화 */
    border-radius: 0.5em; /* 둥근 모서리 최소화 */
    border: 2px solid gold; /* 테두리 얇게 설정 */
    margin: 0;
    display: inline-block;
    vertical-align: middle; /* 텍스트와 정렬 */
    line-height: 1;
}


.badge.bg-danger {
	background-color: #dc3545;
	color: white;
}


@keyframes borderblink {
	
	0% {
		border-color: gold;
	}
	50% {
		border-color: transparent;
	}
	100% {
		border-color: gold;
	}
}

.badge.blink {
	animation: borderblink 1s infinite;
}

.title-with-badge {
	display: inline-flex;
	line-height:1;
	vertical-align: middle;
	align-items: center;
}

.total-posts {
	font-size: 0.9em;
	color: #6c757d;
	text-align: right;
	width: calc(100% - 20px);
	margin-right: 120px;
	margin-bottom: 10px;
}

.page-header {
	background-color: #007bff;
	color: #ffffff;
	padding: 20px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
	border-radius: 8px;
	margin-bottom: 20px;
}